*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
  }
  img {
    max-width: 100%;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  label{
    user-select: none;
  }
  label,input,select{
    font-size: 1.6rem !important;
  }
  /* Card */

  .main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("https://images.pexels.com/photos/162539/architecture-building-amsterdam-blue-sky-162539.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .card{
    width: 50rem;
  }
  p.alert.alert-success.d-flex.justify-content-between {
    font-size: 1.7rem;
}
.admin-dash{
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
  transition: all .3s linear;
}
.admin-dash:hover{
  color: white;
  letter-spacing: 1.5px;
}